<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adi-client</key>
	<integer>285473578</integer>
	<key>application-identifier</key>
	<string>com.apple.atc</string>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>checklessPersistentURLTranslation</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>data-allowed-write</string>
		<string>spi</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.inactive.fullaccess</key>
	<true/>
	<key>com.apple.appstored.coordinate-apps</key>
	<true/>
	<key>com.apple.appstored.install-apps</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.bluetoothregistry</key>
	<true/>
	<key>com.apple.carousel.backgroundservice.privileged</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.apple.iBooks</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.com.apple.iBooks</string>
	</array>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.ibooks.BLService.private</key>
	<true/>
	<key>com.apple.imagent.chat</key>
	<true/>
	<key>com.apple.itunescloud.delegate-account-store</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.networkd.set_source_application</key>
	<true/>
	<key>com.apple.pairedsync.progressObserver</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>CLIENT_ENTITLEMENT</string>
		<string>ITEMIZED_PURGEABLE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.cfnetwork.har-capture-amp</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.airtraffic</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.airtraffic</string>
	</array>
	<key>com.apple.private.ids.prefer-infrawifi</key>
	<array>
		<string>com.apple.private.alloy.airtraffic</string>
	</array>
	<key>com.apple.private.ids.self-session</key>
	<array>
		<string>com.apple.private.alloy.airtraffic</string>
	</array>
	<key>com.apple.private.ignore-preferences-size-limits</key>
	<true/>
	<key>com.apple.private.imcore.imdpersistence.database-access</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.librarian.can-get-application-info</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>com.apple.mobileipod/syncDebug.enabled_v2</string>
		<string>com.apple.mobileipod/syncDebug.dataNeedsRemoval</string>
		<string>com.apple.mobile.wireless_lockdown/EnableWifiConnections</string>
	</array>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>CopyDiskUsageForLaunchServices</string>
		<string>Lookup</string>
		<string>ClearUninstalled</string>
		<string>LookupUninstalled</string>
		<string>InstallForLaunchServices</string>
		<string>UninstallForLaunchServices</string>
	</array>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.nsurlsession.perform-media-downloads</key>
	<true/>
	<key>com.apple.private.nsurlsession.set-task-priority</key>
	<true/>
	<key>com.apple.private.photos.service.internal.library</key>
	<true/>
	<key>com.apple.private.photos.service.sync</key>
	<true/>
	<key>com.apple.private.security.storage-exempt.heritable</key>
	<true/>
	<key>com.apple.private.security.storage.Messages</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceUbiquity</string>
	</array>
	<key>com.apple.rootless.datavault.metadata</key>
	<true/>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/NanoMusicSync/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.Carousel.CSLSBackgroundTaskRequestService</string>
		<string>com.apple.coreduetd.context</string>
		<string>com.apple.appstored.xpc.jobmanager</string>
		<string>com.apple.suggestd.contacts</string>
		<string>com.apple.nanoprefsync</string>
		<string>com.apple.installcoordinationd</string>
		<string>com.apple.appstored.xpc.request</string>
		<string>com.apple.itunescloud.delegate-account-store</string>
		<string>com.apple.itunescloud.music-subscription-status-service</string>
		<string>com.apple.ibooks.BLService.private</string>
		<string>com.apple.carousel.connectionstatusservice</string>
		<string>com.apple.itunescloudd.playactivity</string>
		<string>com.apple.apsd</string>
		<string>com.apple.voicememod.xpc</string>
		<string>com.apple.voicememod.datastore.Local</string>
		<string>com.apple.voicememod.datastore.Cloud</string>
		<string>com.apple.backboard.hid.services</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.installcoordinationd</string>
	</array>
	<key>com.apple.springboard.iconState</key>
	<true/>
	<key>com.apple.springboard.iconState.mutate</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>fairplay-client</key>
	<integer>177554772</integer>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>AirTraffic</string>
	</array>
</dict>
</plist>
