<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adi-client</key>
	<integer>285473578</integer>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>checklessPersistentURLTranslation</key>
	<true/>
	<key>com.apple.bluetoothregistry</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.apple.iBooks</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.com.apple.iBooks</string>
	</array>
	<key>com.apple.imagent.chat</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.pairedsync.progressObserver</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>CLIENT_ENTITLEMENT</string>
		<string>ITEMIZED_PURGEABLE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.airtraffic</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.airtraffic</string>
	</array>
	<key>com.apple.private.ids.prefer-infrawifi</key>
	<array>
		<string>com.apple.private.alloy.airtraffic</string>
	</array>
	<key>com.apple.private.ids.self-session</key>
	<array>
		<string>com.apple.private.alloy.airtraffic</string>
	</array>
	<key>com.apple.private.imcore.imdpersistence.database-access</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.librarian.can-get-application-info</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>com.apple.mobileipod/syncDebug.enabled_v2</string>
		<string>com.apple.mobileipod/syncDebug.dataNeedsRemoval</string>
		<string>com.apple.mobile.wireless_lockdown/EnableWifiConnections</string>
	</array>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>CopyDiskUsageForLaunchServices</string>
		<string>Lookup</string>
		<string>ClearUninstalled</string>
		<string>LookupUninstalled</string>
		<string>InstallForLaunchServices</string>
		<string>UninstallForLaunchServices</string>
	</array>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceUbiquity</string>
	</array>
	<key>fairplay-client</key>
	<integer>177554772</integer>
	<key>seatbelt-profiles</key>
	<array>
		<string>AirTraffic</string>
	</array>
</dict>
</plist>
