<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>1705941772</string>
	<key>application-identifier</key>
	<string>com.apple.backupd</string>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>preferences-reset</string>
	</array>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.AutoWake.xml</string>
	</array>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.aosnotification.aosnotifyd-access</key>
	<true/>
	<key>com.apple.appstored.coordinate-apps</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>production</string>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keystore.devicebackup</key>
	<true/>
	<key>com.apple.keystore.lockassertion</key>
	<true/>
	<key>com.apple.keystore.lockassertion.restore_from_backup</key>
	<true/>
	<key>com.apple.keystore.stash.access</key>
	<true/>
	<key>com.apple.lockdownd.allow-save-value</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.cloudkit.buddyAccess</key>
	<true/>
	<key>com.apple.private.cloudkit.lightweightPCS</key>
	<true/>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.packages</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.imcore.imdpersistence.database-access</key>
	<true/>
	<key>com.apple.private.keychain-backup-client</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>com.apple.Accessibility/ClosedCaptioningEnabledByiTunes</string>
		<string>com.apple.Accessibility/InvertDisplayEnabledByiTunes</string>
		<string>com.apple.Accessibility/MonoAudioEnabledByiTunes</string>
		<string>com.apple.Accessibility/SpeakAutoCorrectionsEnabledByiTunes</string>
		<string>com.apple.Accessibility/ZoomTouchEnabledByiTunes</string>
		<string>com.apple.Accessibility/VoiceOverTouchEnabledByiTunes</string>
		<string>com.apple.mobile.backup/CloudBackupEnabled</string>
		<string>com.apple.mobile.backup/LastCloudBackupDate</string>
		<string>com.apple.mobile.backup/LastCloudBackupTZ</string>
		<string>com.apple.mobile.backup/WillEncrypt</string>
		<string>com.apple.mobile.data_sync/AccountNames</string>
		<string>com.apple.mobile.data_sync/Bookmarks</string>
		<string>com.apple.mobile.data_sync/Calendars</string>
		<string>com.apple.mobile.data_sync/Contacts</string>
		<string>com.apple.mobile.data_sync/Mail Accounts</string>
		<string>com.apple.mobile.data_sync/Notes</string>
		<string>com.apple.mobile.data_sync/Sources</string>
		<string>com.apple.mobile.iTunes.accessories/CalibrationParams</string>
		<string>com.apple.mobile.iTunes.accessories/CalibrationRunDate</string>
		<string>com.apple.mobile.iTunes.accessories/CalibrationWalkDate</string>
		<string>com.apple.mobile.iTunes.accessories/Empeds</string>
		<string>com.apple.mobile.iTunes.accessories/ID</string>
		<string>com.apple.mobile.wireless_lockdown/EnableWifiConnections</string>
		<string>com.apple.purplebuddy/SetupState</string>
		<string>com.apple.purplebuddy/RestoreState</string>
		<string>com.apple.MobileDeviceCrashCopy/ShouldSubmit</string>
		<string>com.apple.TerminalFlashr/FlashrColr</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-remove</key>
	<array>
		<string>com.apple.Accessibility/ClosedCaptioningEnabledByiTunes</string>
		<string>com.apple.Accessibility/InvertDisplayEnabledByiTunes</string>
		<string>com.apple.Accessibility/MonoAudioEnabledByiTunes</string>
		<string>com.apple.Accessibility/SpeakAutoCorrectionsEnabledByiTunes</string>
		<string>com.apple.Accessibility/ZoomTouchEnabledByiTunes</string>
		<string>com.apple.Accessibility/VoiceOverTouchEnabledByiTunes</string>
		<string>com.apple.mobile.backup/CloudBackupEnabled</string>
		<string>com.apple.mobile.backup/LastCloudBackupDate</string>
		<string>com.apple.mobile.backup/LastCloudBackupTZ</string>
		<string>com.apple.mobile.backup/WillEncrypt</string>
		<string>com.apple.mobile.data_sync/AccountNames</string>
		<string>com.apple.mobile.data_sync/Bookmarks</string>
		<string>com.apple.mobile.data_sync/Calendars</string>
		<string>com.apple.mobile.data_sync/Contacts</string>
		<string>com.apple.mobile.data_sync/Mail Accounts</string>
		<string>com.apple.mobile.data_sync/Notes</string>
		<string>com.apple.mobile.data_sync/Sources</string>
		<string>com.apple.mobile.iTunes.accessories/CalibrationParams</string>
		<string>com.apple.mobile.iTunes.accessories/CalibrationRunDate</string>
		<string>com.apple.mobile.iTunes.accessories/CalibrationWalkDate</string>
		<string>com.apple.mobile.iTunes.accessories/Empeds</string>
		<string>com.apple.mobile.iTunes.accessories/ID</string>
		<string>com.apple.mobile.wireless_lockdown/EnableWifiConnections</string>
		<string>com.apple.purplebuddy/SetupState</string>
		<string>com.apple.purplebuddy/RestoreState</string>
		<string>com.apple.MobileDeviceCrashCopy/ShouldSubmit</string>
		<string>com.apple.TerminalFlashr/FlashrColr</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-set</key>
	<array>
		<string>com.apple.Accessibility/ClosedCaptioningEnabledByiTunes</string>
		<string>com.apple.Accessibility/InvertDisplayEnabledByiTunes</string>
		<string>com.apple.Accessibility/MonoAudioEnabledByiTunes</string>
		<string>com.apple.Accessibility/SpeakAutoCorrectionsEnabledByiTunes</string>
		<string>com.apple.Accessibility/ZoomTouchEnabledByiTunes</string>
		<string>com.apple.Accessibility/VoiceOverTouchEnabledByiTunes</string>
		<string>com.apple.mobile.backup/CloudBackupEnabled</string>
		<string>com.apple.mobile.backup/LastCloudBackupDate</string>
		<string>com.apple.mobile.backup/LastCloudBackupTZ</string>
		<string>com.apple.mobile.backup/WillEncrypt</string>
		<string>com.apple.mobile.data_sync/AccountNames</string>
		<string>com.apple.mobile.data_sync/Bookmarks</string>
		<string>com.apple.mobile.data_sync/Calendars</string>
		<string>com.apple.mobile.data_sync/Contacts</string>
		<string>com.apple.mobile.data_sync/Mail Accounts</string>
		<string>com.apple.mobile.data_sync/Notes</string>
		<string>com.apple.mobile.data_sync/Sources</string>
		<string>com.apple.mobile.iTunes.accessories/CalibrationParams</string>
		<string>com.apple.mobile.iTunes.accessories/CalibrationRunDate</string>
		<string>com.apple.mobile.iTunes.accessories/CalibrationWalkDate</string>
		<string>com.apple.mobile.iTunes.accessories/Empeds</string>
		<string>com.apple.mobile.iTunes.accessories/ID</string>
		<string>com.apple.mobile.wireless_lockdown/EnableWifiConnections</string>
		<string>com.apple.purplebuddy/SetupState</string>
		<string>com.apple.purplebuddy/RestoreState</string>
		<string>com.apple.MobileDeviceCrashCopy/ShouldSubmit</string>
		<string>com.apple.TerminalFlashr/FlashrColr</string>
	</array>
	<key>com.apple.private.mis.profiles.write</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>CopySafeHarbors</string>
		<string>Install</string>
		<string>InstallForLaunchServices</string>
		<string>Lookup</string>
		<string>ProcessRestoredContainer</string>
		<string>RegisterSafeHarbor</string>
		<string>RemoveSafeHarbor</string>
		<string>Uninstall</string>
		<string>UninstallForLaunchServices</string>
	</array>
	<key>com.apple.private.security.storage-exempt.heritable</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServicePhotos</string>
	</array>
	<key>com.apple.private.vfs.dataless-manipulation</key>
	<true/>
	<key>com.apple.private.vfs.open-by-id</key>
	<true/>
	<key>com.apple.private.vfs.snapshot</key>
	<true/>
	<key>com.apple.private.xpc.launchd.userspace-reboot</key>
	<true/>
	<key>com.apple.purplebuddy.budd.access</key>
	<true/>
	<key>com.apple.rootless.install</key>
	<true/>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOAESAcceleratorUserClient</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.icloud.findmydevice.managed</string>
		<string>systemgroup.com.apple.sharedpclogging</string>
	</array>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-write</key>
	<string>/var/</string>
	<key>com.apple.springboard.iconState</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>appleaccount</string>
	</array>
	<key>restore-keychain</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>MobileBackup</string>
	</array>
</dict>
</plist>
