<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.telephonyutilities.callservicesd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.CallHistory.sync.allow</key>
	<true/>
	<key>com.apple.CallKit.call-directory</key>
	<array>
		<string>synchronize-extensions</string>
		<string>compact-store</string>
		<string>query-identification-entries</string>
	</array>
	<key>com.apple.CallKit.call-directory.extension-host</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>phone</string>
		<string>voice</string>
		<string>identity</string>
		<string>data-usage</string>
		<string>data-allowed</string>
		<string>data-allowed-write</string>
		<string>carrier-space</string>
		<string>carrier-settings</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.FaceTime.CallLaunch</key>
	<true/>
	<key>com.apple.FaceTime.NoPrompt</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.backboardd.proximityDetection</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.coremedia.captureassertionservice</key>
	<array>
		<string>modify-assertion</string>
	</array>
	<key>com.apple.coretelephony.Calls.allow</key>
	<true/>
	<key>com.apple.developer.notificationcenter-identifiers</key>
	<array>
		<string>com.apple.facetime</string>
		<string>com.apple.Photos</string>
	</array>
	<key>com.apple.duet.expertcenter.consumer</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.imagent.av</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.multitasking.voipassertions</key>
	<true/>
	<key>com.apple.private.CallHistory.read-write</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.aps-client-cert-access</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.attentionawareness.poll</key>
	<true/>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.contacts</key>
	<true/>
	<key>com.apple.private.coreaudio.borrowaudiosession.allow</key>
	<true/>
	<key>com.apple.private.coremedia.interruptions.phonecallpriority.allow</key>
	<true/>
	<key>com.apple.private.coreservices.canalwaysadvertise</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.coreservices.canopenactivity</key>
	<true/>
	<key>com.apple.private.coreservices.lsuseractivityd.LSAlwaysPick</key>
	<true/>
	<key>com.apple.private.coreservices.lsuseractivityd.bestappsuggestion</key>
	<true/>
	<key>com.apple.private.dmd.emergency-mode</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.donotdisturb.behavior.resolution.client-identifiers</key>
	<array>
		<string>com.apple.telephonyutilities.callservicesd</string>
	</array>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.icfcallserver</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.facetime.multi</string>
		<string>com.apple.private.alloy.facetime.video</string>
		<string>com.apple.private.alloy.facetime.lp</string>
		<string>com.apple.private.alloy.phonecontinuity</string>
		<string>com.apple.ess</string>
		<string>com.apple.private.alloy.phone.auth</string>
		<string>com.apple.private.alloy.facetime.audio</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.facetime.multi</string>
		<string>com.apple.private.alloy.facetime.video</string>
		<string>com.apple.private.alloy.facetime.lp</string>
		<string>com.apple.private.alloy.phonecontinuity</string>
		<string>com.apple.private.alloy.phone.auth</string>
		<string>com.apple.private.alloy.facetime.audio</string>
	</array>
	<key>com.apple.private.ids.remoteurlconnection</key>
	<true/>
	<key>com.apple.private.ids.self-session</key>
	<array>
		<string>com.apple.private.alloy.facetime.multi</string>
		<string>com.apple.private.alloy.phonecontinuity</string>
		<string>com.apple.private.alloy.facetime.video</string>
		<string>com.apple.private.alloy.facetime.audio</string>
		<string>com.apple.private.alloy.tincan.audio</string>
	</array>
	<key>com.apple.private.ids.session</key>
	<array>
		<string>com.apple.private.alloy.facetime.multi</string>
		<string>com.apple.private.alloy.phonecontinuity</string>
		<string>com.apple.private.alloy.facetime.video</string>
		<string>com.apple.private.alloy.facetime.audio</string>
		<string>com.apple.private.alloy.tincan.audio</string>
	</array>
	<key>com.apple.private.ids.session-private</key>
	<array>
		<string>com.apple.private.alloy.facetime.multi</string>
		<string>com.apple.private.alloy.phonecontinuity</string>
		<string>com.apple.private.alloy.facetime.video</string>
		<string>com.apple.private.alloy.facetime.audio</string>
		<string>com.apple.private.alloy.tincan.audio</string>
	</array>
	<key>com.apple.private.imavcore.imavagent</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/ActivationState</string>
	</array>
	<key>com.apple.private.necp.match</key>
	<true/>
	<key>com.apple.private.notificationcenter-system</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>com.apple.SystemNote</string>
		</dict>
	</array>
	<key>com.apple.private.notificationcenter.internalpushclient</key>
	<true/>
	<key>com.apple.private.notificationcenterui.alerts</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.screen-time</key>
	<true/>
	<key>com.apple.private.security.storage.CallHistory</key>
	<true/>
	<key>com.apple.private.security.storage.Messages</key>
	<true/>
	<key>com.apple.private.security.storage.Voicemail</key>
	<true/>
	<key>com.apple.private.suggestions.contacts</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow.overridable</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceMicrophone</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.facetime</string>
		<string>com.apple.mobilephone</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.suggestions</string>
		<string>com.apple.ScreenTimeAgent</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>RootDomainUserClient</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.personal-information.addressbook</key>
	<true/>
	<key>com.apple.security.temporary-exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.suggestions</string>
	</array>
	<key>com.apple.springboard.inCallPresentation</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.shortcutitems.fullaccess</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.systemstatus.activityattribution</key>
	<true/>
	<key>com.apple.systemstatus.publisher.domains</key>
	<array>
		<string>calling</string>
	</array>
	<key>com.apple.videoconference.allow-conferencing</key>
	<true/>
	<key>com.apple.visualvoicemail.client</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>callservicesd</string>
	</array>
</dict>
</plist>
