<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.cloudpaird</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.BluetoothUIService</key>
	<true/>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.accounts.applicationidfrompid</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.cloudpaird</string>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.bluetooth.internal</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>BluetoothAddress</string>
		<string>SysCfg</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.bluetooth.services</key>
		<string>com.apple.bluetooth.services</string>
		<key>com.apple.securedBluetooth</key>
		<string>BluetoothCloudPairing2</string>
	</dict>
	<key>com.apple.private.cloudkit.systemService</key>
	<string>YES</string>
	<key>com.apple.private.iaaccounts</key>
	<true/>
	<key>com.apple.private.ids.device-uuid</key>
	<array>
		<string>com.apple.private.alloy.icloudpairing</string>
	</array>
	<key>com.apple.private.ids.identityservicesd</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.icloudpairing</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.icloudpairing</string>
	</array>
	<key>com.apple.private.ids.registration</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceBluetoothPeripheral</string>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.BTUserNotifications</string>
		<string>com.apple.ShareAudioNotifications</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/usr/libexec</string>
		<string>/private/var/mobile/Library/Preferences/com.apple.mediaremote.plist</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/tmp/com.apple.cloudpaird/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>Library/com.apple.bluetooth.services.cloud/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.aps.cloudpaird</string>
		<string>com.apple.apsd</string>
		<string>com.apple.audio.SystemSoundServer-iOS</string>
		<string>com.apple.bluetooth.cloudkit.xpc</string>
		<string>com.apple.bluetooth.services.cloudtool</string>
		<string>com.apple.bluetooth.xpc</string>
		<string>com.apple.bluetoothd</string>
		<string>com.apple.BluetoothUIService</string>
		<string>com.apple.BTServer.cloudpairing</string>
		<string>com.apple.callkit.callcontrollerhost</string>
		<string>com.apple.CARenderServer</string>
		<string>com.apple.cloudd</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.mediaremoted.xpc</string>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.PowerManagement.control</string>
		<string>com.apple.server.bluetooth.le.att.xpc</string>
		<string>com.apple.server.bluetooth</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.springboard.services</string>
		<string>com.apple.SystemConfiguration.configd</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.voiceservices.tts</string>
		<string>com.apple.wirelessproxd</string>
		<string>com.apple.powerlog.plxpclogger.xpc</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.AppSupport</string>
		<string>com.apple.facetime.bag</string>
		<string>com.apple.nanobuddy</string>
		<string>com.apple.purplebuddy</string>
		<string>com.apple.voiceservices</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.bluetooth</string>
		<string>com.apple.cloudpaird</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.ts.application-group-support</key>
	<true/>
	<key>com.apple.security.ts.cloudkit-client</key>
	<true/>
	<key>com.apple.security.ts.identity-services-client</key>
	<true/>
	<key>com.apple.security.ts.mobile-keybag-access</key>
	<true/>
	<key>com.apple.security.ts.play-audio</key>
	<true/>
	<key>com.apple.security.ts.play-media</key>
	<true/>
	<key>com.apple.security.ts.power-assertions</key>
	<true/>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.sharing.Services</key>
	<true/>
	<key>com.apple.sharing.Session</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
		<string>modify-calls</string>
	</array>
	<key>com.apple.wirelessproxd-proximity-pairing-scan</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>appleaccount</string>
		<string>apple</string>
		<string>InternetAccounts</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>
