<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShowsViewsWhileLocked</key>
	<true/>
	<key>com.apple.AXMediaUtilitiesService-access</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.DragUI.accessibility</key>
	<true/>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.accessibility.api</key>
	<true/>
	<key>com.apple.accessibility.physicalinteraction.client</key>
	<true/>
	<key>com.apple.accessibility.zoom.client</key>
	<true/>
	<key>com.apple.assistant.client</key>
	<true/>
	<key>com.apple.assistant.dictation.prerecorded</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.commandandcontrol</key>
	<true/>
	<key>com.apple.coreaudio.allow-opus-codec</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.hid.manager.user-access-keyboard</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.VoiceServices.CustomVoice</string>
		<string>com.apple.MobileAsset.VoiceServicesVocalizerVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.GryphonVoice</string>
		<string>com.apple.MobileAsset.MacinTalkVoiceAssets</string>
		<string>com.apple.MobileAsset.VoiceServices.CombinedVocalizerVoices</string>
	</array>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.attentionawareness.samplewhileabsent</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.sysdiagnose</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.analyticsd</string>
		<string>com.apple.SpeechRecognitionCore.brokerd</string>
		<string>com.apple.speech.CommandAndControl.utility</string>
		<string>com.apple.sharing.accessibility</string>
		<string>com.apple.TextInput.accessibility</string>
		<string>com.apple.siri.activation.service</string>
	</array>
	<key>com.apple.siri.VoiceShortcuts.xpc</key>
	<true/>
	<key>com.apple.siri.activation.service</key>
	<true/>
	<key>com.apple.siri.external_request</key>
	<true/>
	<key>com.apple.springboard.activateassistant</key>
	<true/>
	<key>com.apple.springboard.requestScene-daemon</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.systemstatus.publisher.domains</key>
	<string>voice-control</string>
</dict>
</plist>
