<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNDaemonShouldReceiveBackgroundResponses</key>
		<true/>
	</dict>
	<key>adi-client</key>
	<string>548030543</string>
	<key>application-identifier</key>
	<string>com.apple.coretelephony</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.CallHistory.sync.allow</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>sim-authentication</string>
		<string>identity</string>
		<string>bb-xpc</string>
		<string>preferences-reset</string>
		<string>voice</string>
		<string>identity</string>
		<string>phone</string>
		<string>carrier-settings</string>
	</array>
	<key>com.apple.CoreTelephony.CommCenterHelper.allow</key>
	<true/>
	<key>com.apple.IPConfigurationService</key>
	<true/>
	<key>com.apple.MobileInternetSharing.allow</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>preferences.plist</string>
		<string>com.apple.AutoWake.xml</string>
		<string>com.apple.radios.plist</string>
	</array>
	<key>com.apple.abm.helper.mobile.allow</key>
	<true/>
	<key>com.apple.abm.helper.root.allow</key>
	<true/>
	<key>com.apple.abm.helper.wireless.allow</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.apsd.ios-device-push-token</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.basebandd.xpc.allow</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.callkit</key>
	<array>
		<string>private-provider-api</string>
		<string>private-controller-api</string>
	</array>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.coreaudio.allow-amr-decode</key>
	<true/>
	<key>com.apple.coreaudio.allow-amr-encode</key>
	<true/>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.coretelephony</string>
	<key>com.apple.driver.AppleBasebandPCI.user-access</key>
	<true/>
	<key>com.apple.driver.AppleBasebandPCIControl.user-access</key>
	<true/>
	<key>com.apple.driver.AppleConvergedIPCICEBB.user-access</key>
	<true/>
	<key>com.apple.driver.AppleConvergedIPCICEBBControl.user-access</key>
	<true/>
	<key>com.apple.driver.AppleIPAppender.user-access</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.iokit.powerdxpc</key>
	<true/>
	<key>com.apple.itunesstored.accounts</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.location.region_aggressive</key>
	<true/>
	<key>com.apple.location.region_polygonal</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.emergency_enabler</key>
	<true/>
	<key>com.apple.locationd.on_body_detection</key>
	<true/>
	<key>com.apple.locationd.private_info</key>
	<true/>
	<key>com.apple.locationd.region_while_nearby</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nano.nanoregistry.pairunpairobliterate</key>
	<true/>
	<key>com.apple.networkd.allow_bootstrap_cellular_service_request</key>
	<true/>
	<key>com.apple.networkd.cellular_blocked.observe</key>
	<true/>
	<key>com.apple.networkd.disable_opportunistic</key>
	<true/>
	<key>com.apple.networkd.fetch_details</key>
	<true/>
	<key>com.apple.networkd.modify_settings</key>
	<true/>
	<key>com.apple.networkd.set_account_identifier</key>
	<true/>
	<key>com.apple.networkd_privileged</key>
	<true/>
	<key>com.apple.networkrelay.retryConnections</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.MobileActivation</key>
	<array>
		<string>RequestBrickState</string>
	</array>
	<key>com.apple.private.SecureNetworking.ipsec_db</key>
	<true/>
	<key>com.apple.private.SecureNetworking.ipsec_ike</key>
	<true/>
	<key>com.apple.private.accessories.showallconnections</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.attentionawareness.poll</key>
	<true/>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.iCloud.CommCenter</key>
		<string>com.apple.iCloud.CommCenter</string>
	</dict>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.coreservices.canmapbundleidtouuid</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.icfcallserver</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.ct.commcenter.p2w.settings</string>
		<string>com.apple.private.alloy.ct.baseband.p2p.notification</string>
		<string>com.apple.private.alloy.ct.commcenter.sim</string>
		<string>com.apple.private.alloy.thumper.settings</string>
		<string>com.apple.private.alloy.thumper.keys</string>
		<string>com.apple.private.alloy.ct.commcenter.sim.cloud</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.ct.commcenter.p2w.settings</string>
		<string>com.apple.private.alloy.ct.baseband.p2p.notification</string>
		<string>com.apple.private.alloy.ct.commcenter.sim</string>
		<string>com.apple.private.alloy.thumper.settings</string>
		<string>com.apple.private.alloy.thumper.keys</string>
		<string>com.apple.private.alloy.ct.commcenter.sim.cloud</string>
	</array>
	<key>com.apple.private.ids.phone-number-authentication</key>
	<true/>
	<key>com.apple.private.iokit.darkwake-control</key>
	<true/>
	<key>com.apple.private.iokit.powersource-control</key>
	<true/>
	<key>com.apple.private.kernel.uuid-policy</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/WeHaveATicket</string>
		<string>NULL/ActivityURL</string>
		<string>NULL/ActivationState</string>
		<string>NULL/Deactivate</string>
	</array>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>InstallForLaunchServices</string>
	</array>
	<key>com.apple.private.necp.match</key>
	<true/>
	<key>com.apple.private.nehelper.privileged</key>
	<true/>
	<key>com.apple.private.network.interface-control</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.network.statistics</key>
	<true/>
	<key>com.apple.private.networkextension.configuration</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.ppm.client</key>
	<true/>
	<key>com.apple.private.security.storage.CallHistory</key>
	<true/>
	<key>com.apple.private.skywalk.observe-all</key>
	<true/>
	<key>com.apple.private.skywalk.observe-stats</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceCalls</string>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.Bridge</string>
		<string>com.apple.Preferences</string>
		<string>com.apple.SIMSetupUIService</string>
		<string>com.apple.commcenter.notification</string>
	</array>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.accessories.connection-info-server</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.sharedpclogging</string>
	</array>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.springboard.setIdleText</key>
	<true/>
	<key>com.apple.storekit.client-override</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.timed.sources</key>
	<array>
		<string>NITZ</string>
		<string>CDMA</string>
	</array>
	<key>com.apple.videoconference.allow-conferencing</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.certificates</string>
		<string>com.apple.identities</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>CommCenter</string>
	</array>
</dict>
</plist>
