<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CallHistory.sync.allow</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>notify-all</string>
		<string>spi</string>
		<string>data-usage</string>
		<string>identity</string>
		<string>phone</string>
		<string>carrier-space</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.lastUserEventTime</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.bulletinboard.observer</key>
	<true/>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.gizmoappd.appmanager.allow</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.notify.root_access</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.Duet</string>
	</array>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.corespotlight.search.internal</key>
	<true/>
	<key>com.apple.private.donotdisturb.state.updates.client-identifiers</key>
	<array>
		<string>com.apple.duet.knowledge</string>
	</array>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.ids.nearby</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.kernel.system-override</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.mobiletimerd</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceCalendar</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.rootless.storage.coreduet_knowledge_store</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptom_analytics.refresh</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
</dict>
</plist>
