<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>143531244</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>identity</string>
		<string>cellular-plan</string>
		<string>data-usage</string>
		<string>phone</string>
		<string>data-allowed-write</string>
		<string>carrier-settings</string>
		<string>preferences-write</string>
		<string>preferences-reset</string>
		<string>vinyl-standalone</string>
	</array>
	<key>com.apple.aosnotification.aosnotifyd-access</key>
	<true/>
	<key>com.apple.appconduitd.allowedSPI</key>
	<array>
		<string>ReconcileAppsOnPairing</string>
	</array>
	<key>com.apple.appletv.pbs.allow-sleep-timeout</key>
	<true/>
	<key>com.apple.appletv.pbs.bulletin-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.osupdate-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.user-presentation-service-access</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.findmydevice-user-agent.access</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.ua-services.access</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.lsapplicationworkspace.rebuildappdatabases</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.nano.nanoregistry.pairunpairobliterate</key>
	<true/>
	<key>com.apple.nanoregistry.BDE85C67-0FDD-4A95-A9B9-3CB5DD0C06A2</key>
	<true/>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.deleteContainerContent</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>BasebandBoardSnum</string>
		<string>BasebandSerialNumber</string>
		<string>BluetoothAddress</string>
		<string>DiagData</string>
		<string>EthernetMacAddress</string>
		<string>IntegratedCircuitCardIdentifier</string>
		<string>InternationalMobileEquipmentIdentity</string>
		<string>MLBSerialNumber</string>
		<string>MobileEquipmentIdentifier</string>
		<string>PintoMacAddress</string>
		<string>SerialNumber</string>
		<string>SysCfg</string>
		<string>SysCfgDict</string>
		<string>UniqueChipID</string>
		<string>UniqueDeviceID</string>
		<string>UniqueDeviceIDData</string>
		<string>WifiAddress</string>
		<string>WifiAddressData</string>
		<string>WirelessBoardSnum</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.allow-subridge</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.corewifi</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.launchservices.suppresscustomschemeprompt</key>
	<array>
		<string>demoloop-demod</string>
	</array>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>UninstallForLaunchServices</string>
		<string>InstallForLaunchServices</string>
		<string>Lookup</string>
		<string>ProcessRestoredContainer</string>
	</array>
	<key>com.apple.private.mobilestoredemo.helper</key>
	<true/>
	<key>com.apple.private.photos.service.demo</key>
	<true/>
	<key>com.apple.private.security.storage-exempt.heritable</key>
	<true/>
	<key>com.apple.private.security.storage.CallHistory</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServicePhotos</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>AirPort</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>RootDomainUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.coreduetd.allow</string>
		<string>com.apple.coreduetd.context</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>RootDomainUserClient</string>
	</array>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<true/>
	<key>com.apple.springboard.iconState</key>
	<true/>
	<key>com.apple.springboard.iconState.mutate</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<array>
		<string>demoloop-demod</string>
	</array>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.wipedevice</key>
	<true/>
	<key>com.apple.wlan.authentication</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.mobilestoredemo</string>
		<string>appleaccount</string>
	</array>
</dict>
</plist>
