<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.fileprovider.fileproviderd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.assertiond.app-state-monitor</key>
	<true/>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.fileprovider.enumerate</key>
	<true/>
	<key>com.apple.fileprovider.extension-host</key>
	<true/>
	<key>com.apple.multitasking.unlimitedassertions</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>PURGE_ENTITLEMENT</string>
		<string>CLIENT_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.unrestrictedPersona</key>
	<true/>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.corespotlight.search.internal</key>
	<true/>
	<key>com.apple.private.foundation.fileprovider-lifetime-daemon-dependant</key>
	<true/>
	<key>com.apple.private.personas.propagate</key>
	<true/>
	<key>com.apple.private.pluginkit.manager</key>
	<true/>
	<key>com.apple.private.pluginkit.persona</key>
	<true/>
	<key>com.apple.private.security.storage.iCloudDrive</key>
	<true/>
	<key>com.apple.private.vfs.dataless-manipulation</key>
	<true/>
	<key>com.apple.private.vfs.move-data-extents</key>
	<true/>
	<key>com.apple.private.vfs.open-by-id</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.FileProvider.ReadOnly</string>
	</array>
	<key>com.apple.security.enterprise-volume-access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/containers/Bundle/Application/</string>
		<string>/.mb/mobile/Library/Mobile Documents/</string>
		<string>/.mb/mobile/Library/LiveFiles/</string>
		<string>/.mb/mobile/Library/Application Support/FileProvider/</string>
		<string>/.mb/mobile/Library/CloudStorage/</string>
		<string>/.ba/mobile/Library/Mobile Documents/</string>
		<string>/.ba/mobile/Library/LiveFiles/</string>
		<string>/.ba/mobile/Library/Application Support/FileProvider/</string>
		<string>/.ba/mobile/Library/CloudStorage/</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/.backup.i/var/mobile/Library/Mobile Documents/</string>
		<string>/private/var/.backup.i/var/mobile/Library/LiveFiles/</string>
		<string>/private/var/.backup.i/var/mobile/Library/Application Support/FileProvider/</string>
		<string>/private/var/.backup.i/var/mobile/Library/CloudStorage/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Mobile Documents/</string>
		<string>/Library/LiveFiles/</string>
		<string>/Library/Application Support/FileProvider/</string>
		<string>/Library/CloudStorage/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.iconservices</string>
		<string>com.apple.assertiond.applicationstateconnection</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.FileProviderDaemon.AppStoreService</string>
		<string>com.apple.cloudd</string>
	</array>
	<key>com.apple.symptom_diagnostics</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>fileproviderd</string>
	</array>
</dict>
</plist>
