<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>860918802</string>
	<key>adi-client</key>
	<string>661321174</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>auth-key-vault-client</key>
	<string>726813637</string>
	<key>com.apple.BTServer.allowQuickRSSIRead</key>
	<true/>
	<key>com.apple.BTServer.allowRestrictedServices</key>
	<true/>
	<key>com.apple.BTServer.appleMfgDataAdvertising</key>
	<true/>
	<key>com.apple.BTServer.appleMfgDataScanner</key>
	<true/>
	<key>com.apple.BTServer.le.att</key>
	<true/>
	<key>com.apple.BTServer.programmaticPairing</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>identity</string>
	</array>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.AutoWake.xml</string>
	</array>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.icloud.FindMyDevice.FindMyDeviceBTDiscoveryXPCService.access</key>
	<true/>
	<key>com.apple.icloud.FindMyDevice.FindMyDeviceEraseXPCService.access</key>
	<true/>
	<key>com.apple.icloud.FindMyDevice.FindMyDeviceHelperXPCService.access</key>
	<true/>
	<key>com.apple.icloud.FindMyDevice.FindMyDeviceIdentityXPCService.access</key>
	<true/>
	<key>com.apple.icloud.FindMyDevice.FindMyDeviceUserNotificationsXPCService.access</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.icloud.ifccd</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.beaconmanager</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.ownersession</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.pairingmanager</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keystore.absinthe</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.emergency_enabler</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.seshat</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.private.MobileActivation</key>
	<array>
		<string>RequestActivationState</string>
	</array>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<true/>
	<key>com.apple.private.ProvInfoIOKitUserClient.access</key>
	<true/>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.ckks</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.findmydeviced.aoverc</string>
		<string>com.apple.private.alloy.findmydeviced.watch</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.findmydeviced.watch</string>
	</array>
	<key>com.apple.private.iokit.assertonbattery</key>
	<true/>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.nanoprefsync</string>
		<string>com.apple.icloud.ifccd</string>
		<string>com.apple.FileCoordination</string>
		<string>com.apple.assistant.settings</string>
		<string>com.apple.nfcd.hwmanager</string>
		<string>com.apple.icloud.findmydeviced</string>
		<string>com.apple.server.bluetooth.le.att.xpc</string>
		<string>com.apple.server.bluetooth.le.pipe.xpc</string>
		<string>com.apple.server.bluetooth</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.wirelessproxd</string>
		<string>com.apple.iap2d.xpc</string>
		<string>com.apple.iaptransportd.ExternalAccessory.distributednotification.server</string>
		<string>com.apple.iap2d.ExternalAccessory.distributednotification.server</string>
		<string>com.apple.iapd.xpc</string>
		<string>com.apple.ExternalAccessory.distributednotification.server</string>
		<string>com.apple.bluetooth.CoreBluetooth</string>
		<string>com.apple.icloud.searchpartyd.ownersession</string>
		<string>com.apple.icloud.searchpartyd.beaconmanager</string>
		<string>com.apple.icloud.searchpartyd.pairingmanager</string>
		<string>com.apple.security.octagon</string>
		<string>com.apple.securityd.ckks</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.nanoprefsyncd</string>
		<string>systemgroup.com.apple.icloud.searchpartyd.sharedsettings</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.icloud.ifccd</string>
		<string>systemgroup.com.apple.bluetooth</string>
		<string>systemgroup.com.apple.pisco.suinfo</string>
		<string>systemgroup.com.apple.sharedpclogging</string>
		<string>systemgroup.com.apple.icloud.findmydevice.managed</string>
		<string>systemgroup.com.apple.icloud.searchpartyd.sharedsettings</string>
	</array>
	<key>com.apple.springboard.activateawayviewplugins</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>appleaccount</string>
		<string>apple</string>
		<string>com.apple.identities</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>findmydeviced</string>
	</array>
	<key>secure-key-vault-client</key>
	<string>1040659520</string>
</dict>
</plist>
