<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.locationd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>com.apple.BTServer.appleMfgDataScanner</key>
	<true/>
	<key>com.apple.Carousel.statusOverlay</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>sms</string>
		<string>spi</string>
		<string>identity</string>
		<string>bb-xpc</string>
		<string>phone</string>
	</array>
	<key>com.apple.CoreLocation.PrivateMode</key>
	<true/>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.CoreRoutine.Prediction</key>
	<true/>
	<key>com.apple.CoreRoutine.ScenarioTrigger</key>
	<true/>
	<key>com.apple.CoreRoutine.StoredLocation</key>
	<true/>
	<key>com.apple.CoreRoutine.Visit</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.AutoWake.xml</string>
	</array>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.proximityDetection</key>
	<true/>
	<key>com.apple.bluetooth.internal</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.carousel.nonmatchingsessions</key>
	<true/>
	<key>com.apple.carousel.onWristMonitor.actions</key>
	<array>
		<string>monitor</string>
	</array>
	<key>com.apple.carousel.viewonwakeaccess</key>
	<true/>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.developer.extension-host.widget-extension</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.geoservices.navigation_info</key>
	<true/>
	<key>com.apple.geoservices.restricted-tiles</key>
	<array>
		<string>coarselocation</string>
	</array>
	<key>com.apple.geoservices.traffic_probe</key>
	<true/>
	<key>com.apple.gpsd</key>
	<true/>
	<key>com.apple.healthlite.spi</key>
	<true/>
	<key>com.apple.hid.manager.user-access-protected</key>
	<true/>
	<key>com.apple.hid.system.fast-path-motion-event-privileged</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.advertisementcache.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.advertisementcache.write</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.beaconmanager</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.finderstatemanager.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.ownersession</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.pairingmanager</key>
	<true/>
	<key>com.apple.idsremoteurlconnectionagent.embedded.auth</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.advertise-beacon</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.configure</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.emergency_enabler</key>
	<true/>
	<key>com.apple.locationd.emergencyplace_inference</key>
	<true/>
	<key>com.apple.locationd.integritycheck</key>
	<true/>
	<key>com.apple.locationd.mock_testing</key>
	<true/>
	<key>com.apple.locationd.motion_alarms</key>
	<true/>
	<key>com.apple.locationd.natalimetry</key>
	<true/>
	<key>com.apple.locationd.on_body_detection</key>
	<true/>
	<key>com.apple.locationd.place_inference</key>
	<true/>
	<key>com.apple.locationd.private_info</key>
	<true/>
	<key>com.apple.locationd.prompt_behavior</key>
	<true/>
	<key>com.apple.locationd.ranging</key>
	<true/>
	<key>com.apple.locationd.rebuild_gytt</key>
	<true/>
	<key>com.apple.locationd.region_while_nearby</key>
	<true/>
	<key>com.apple.locationd.route_hint</key>
	<true/>
	<key>com.apple.locationd.sedentary_timer</key>
	<true/>
	<key>com.apple.locationd.simulation</key>
	<true/>
	<key>com.apple.locationd.spectator</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.locationd.time_zone</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.locationd.vehicle_data</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.multitasking.unlimitedassertions</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.osanalytics.otatasking-service-access</key>
	<true/>
	<key>com.apple.pairedsync.progressObserver</key>
	<true/>
	<key>com.apple.pipelined</key>
	<array>
		<string>positioning</string>
	</array>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
		<string>ArrowChipID</string>
		<string>ArrowUniqueChipID</string>
	</array>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.CoreLocationConfig</string>
	</array>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.healthkit.authorization_bypass</key>
	<true/>
	<key>com.apple.private.healthkit.local-device-source</key>
	<true/>
	<key>com.apple.private.healthkit.medicaliddata</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.motion-event-privileged</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.location.motion</string>
		<string>com.apple.private.alloy.location.auth</string>
		<string>com.apple.private.alloy.location.stream</string>
		<string>com.apple.private.alloy.location.usage</string>
		<string>com.apple.private.alloy.location.wifitilesync</string>
		<string>com.apple.private.alloy.location.motion.livabilityprogram</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.location.auth</string>
		<string>com.apple.private.alloy.location.stream</string>
		<string>com.apple.private.alloy.location.motion</string>
		<string>com.apple.private.alloy.location.usage</string>
		<string>com.apple.private.alloy.location.motion.livabilityprogram</string>
	</array>
	<key>com.apple.private.ids.remotecredentials</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.security.storage.pipelined</key>
	<true/>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.findmy</string>
		<string>com.apple.locationd.LocationNotificationBundle</string>
	</array>
	<key>com.apple.proactive.hero.AppPrediction.predictions</key>
	<true/>
	<key>com.apple.rootless.storage.sensorkit</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>IOTimeSyncUserClient</string>
		<string>IOTimeSyncClockManagerUserClient</string>
		<string>IOTimeSyncUserFilteredServiceUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.backlightd</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
		<string>systemgroup.com.apple.sharedpclogging</string>
	</array>
	<key>com.apple.sensorkit.writer.allow</key>
	<array>
		<string>com.apple.SensorKit.pedometer.data.watch</string>
		<string>com.apple.SensorKit.pedometer.data</string>
		<string>com.apple.SensorKit.visit.metrics</string>
		<string>com.apple.SensorKit.motion.accelerometer</string>
		<string>com.apple.SensorKit.motion.accelerometer.watch</string>
		<string>com.apple.SensorKit.motion.gyroscope</string>
		<string>com.apple.SensorKit.motion.gyroscope.watch</string>
		<string>com.apple.private.SensorKit.fallstatistics</string>
		<string>com.apple.private.SensorKit.odometer</string>
		<string>com.apple.private.SensorKit.elevation</string>
		<string>com.apple.private.SensorKit.heart.rate</string>
		<string>com.apple.private.SensorKit.odometer.suitability</string>
		<string>com.apple.private.SensorKit.elevation.rawpressure</string>
	</array>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.launchapplicationswithoptions</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
	</array>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.timed.sources</key>
	<array>
		<string>GPS</string>
		<string>LocationServer</string>
		<string>HarvestServer</string>
		<string>Location</string>
		<string>TimeSourceGnssValidPos</string>
		<string>TimeSourceGnss</string>
		<string>TimeSourceBBTimeTransfer</string>
		<string>TimeSourceBBTimeTagging</string>
	</array>
	<key>com.apple.wifi.events.private</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wirelessproxd-location</key>
	<true/>
	<key>com.apple.wirelessproxd-object-discovery</key>
	<true/>
	<key>fairplay-client</key>
	<string>465671667</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>locationd</string>
	</array>
</dict>
</plist>
