<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.Maps.daemon</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.CoreRoutine.VehicleLocation</key>
	<true/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.Maps</string>
	<key>com.apple.geoservices.manifestrequesttoken</key>
	<true/>
	<key>com.apple.geoservices.utility</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.maps.ipc-access</key>
	<true/>
	<key>com.apple.navigation.spi</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.lookup</key>
	<dict>
		<key>appData</key>
		<array>
			<string>com.apple.Maps</string>
		</array>
	</dict>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.maps</string>
		<string>com.apple.private.alloy.maps.eta</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.maps.eta</string>
	</array>
	<key>com.apple.private.ids.session</key>
	<array>
		<string>com.apple.private.alloy.maps.eta</string>
	</array>
	<key>com.apple.private.imcore.imagent</key>
	<true/>
	<key>com.apple.private.imcore.spi.database-access</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<string>com.apple.Maps</string>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.tcc.allow.overridable</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.Maps</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.Maps</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/System/Library/Preferences/Logging/</string>
		<string>/AppleInternal/Library/Preferences/Logging/</string>
		<string>/Library/Preferences/Logging/</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Library/Caches/com.apple.navd/tmp/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Logs/PersistentConnection/com.apple.MapsSupport-mapspushd-APSClient.log</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.navigationService</string>
		<string>com.apple.navigationListener</string>
		<string>com.apple.navd</string>
		<string>com.apple.navigationServer</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.Maps.IPC</string>
		<string>com.apple.routined.registration</string>
		<string>com.apple.lsd.open</string>
		<string>com.apple.lsd.mapdb</string>
		<string>com.apple.lsd.modifydb</string>
		<string>com.apple.Maps.xpc.connectionBroker.endpointRecorder</string>
		<string>com.apple.Maps.xpc.connectionBroker.endpointProvider</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.Maps.TransitWidget</string>
		<string>com.apple.MapsSupport</string>
	</array>
	<key>fairplay-client</key>
	<string>1445028844</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
