<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allow-obliterate-device</key>
	<true/>
	<key>com.apple.appletv.pbs.osupdate-service-access</key>
	<true/>
	<key>com.apple.dmd-access</key>
	<true/>
	<key>com.apple.dmd.operation.clear-activation-lock-bypass-code</key>
	<true/>
	<key>com.apple.dmd.operation.clear-device-passcode</key>
	<true/>
	<key>com.apple.dmd.operation.clear-restrictions-password</key>
	<true/>
	<key>com.apple.dmd.operation.erase-device</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-activation-lock-bypass-code</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-applications</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-available-os-updates</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-certificates</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-device-properties</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-os-update-status</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-profiles</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-provisioning-profiles</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-restrictions</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-security-information</key>
	<true/>
	<key>com.apple.dmd.operation.fetch-unlock-token</key>
	<true/>
	<key>com.apple.dmd.operation.install-profile</key>
	<true/>
	<key>com.apple.dmd.operation.install-provisioning-profile</key>
	<true/>
	<key>com.apple.dmd.operation.invite-to-volume-purchase-program</key>
	<true/>
	<key>com.apple.dmd.operation.lock-device</key>
	<true/>
	<key>com.apple.dmd.operation.remove-profile</key>
	<true/>
	<key>com.apple.dmd.operation.remove-provisioning-profile</key>
	<true/>
	<key>com.apple.dmd.operation.request-airplay-mirroring</key>
	<true/>
	<key>com.apple.dmd.operation.restart-device</key>
	<true/>
	<key>com.apple.dmd.operation.schedule-os-update</key>
	<true/>
	<key>com.apple.dmd.operation.schedule-os-update-scan</key>
	<true/>
	<key>com.apple.dmd.operation.set-app-analytics-enabled</key>
	<true/>
	<key>com.apple.dmd.operation.set-app-attributes</key>
	<true/>
	<key>com.apple.dmd.operation.set-app-configuration</key>
	<true/>
	<key>com.apple.dmd.operation.set-bluetooth-enabled</key>
	<true/>
	<key>com.apple.dmd.operation.set-data-roaming-enabled</key>
	<true/>
	<key>com.apple.dmd.operation.set-device-name</key>
	<true/>
	<key>com.apple.dmd.operation.set-diagnostic-submission-enabled</key>
	<true/>
	<key>com.apple.dmd.operation.set-maximum-resident-users</key>
	<true/>
	<key>com.apple.dmd.operation.set-passcode-lock-grace-period</key>
	<true/>
	<key>com.apple.dmd.operation.set-personal-hotspot-enabled</key>
	<true/>
	<key>com.apple.dmd.operation.set-user-language</key>
	<true/>
	<key>com.apple.dmd.operation.set-user-locale</key>
	<true/>
	<key>com.apple.dmd.operation.set-voice-roaming-enabled</key>
	<true/>
	<key>com.apple.dmd.operation.set-wallpaper</key>
	<true/>
	<key>com.apple.dmd.operation.shut-down-device</key>
	<true/>
	<key>com.apple.dmd.operation.stop-airplay-mirroring</key>
	<true/>
	<key>com.apple.dmd.operation.validate-applications</key>
	<true/>
	<key>com.apple.frontboard.shutdown</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.keystore.escrow.create</key>
	<true/>
	<key>com.apple.managedconfiguration.mdmd.push</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.configurationprofiles</key>
	<array>
		<string>CustomUIInstallation</string>
		<string>DEPInstallation</string>
		<string>Inspection</string>
		<string>PopInstallationQueue</string>
		<string>Removal</string>
		<string>SilentNonUIInstallation</string>
		<string>UIInstallation</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.get</key>
	<array>
		<string>MachineInfo</string>
		<string>ManagedApplications</string>
		<string>NetworkExtension</string>
		<string>WiFiNetworks</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.provisioningprofiles</key>
	<array>
		<string>Installation</string>
		<string>PopInstallationQueue</string>
		<string>Removal</string>
		<string>Validation</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.set</key>
	<array>
		<string>ActivationLock</string>
		<string>ActivationRecord</string>
		<string>Certificates</string>
		<string>ClientRestrictions</string>
		<string>CloudConfiguration</string>
		<string>Passcode</string>
		<string>Safari</string>
		<string>UserSettings</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.shutdown</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.usercompliance</key>
	<true/>
	<key>com.apple.managedconfiguration.teslad-access</key>
	<true/>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/ActivationPrivateKey</string>
		<string>NULL/DevicePrivateKey</string>
		<string>NULL/DeviceCertificate</string>
		<string>NULL/DeviceName</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-set</key>
	<array>
		<string>com.apple.mobile.user_preferences/UserSetLanguage</string>
		<string>com.apple.mobile.user_preferences/UserSetLocale</string>
		<string>NULL/DeviceName</string>
	</array>
	<key>com.apple.private.lockdown.ignore-mc-name-restriction</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>Uninstall</string>
		<string>Lookup</string>
	</array>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.springboard.wipedevice</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wipedevice</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.certificates</string>
		<string>com.apple.identities</string>
	</array>
</dict>
</plist>
