<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.lskdd</string>
	<key>checklessPersistentURLTranslation</key>
	<true/>
	<key>com.apple.BTServer.le</key>
	<true/>
	<key>com.apple.BluetoothServices</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.MFAAuthentication</key>
	<array>
		<string>certificate-auth</string>
		<string>pairing</string>
		<string>token-auth</string>
	</array>
	<key>com.apple.MobileAsset.VoiceTriggerAssetsWatch</key>
	<true/>
	<key>com.apple.PairingManager.HomeKit</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.airplay.receivercontroller</key>
	<true/>
	<key>com.apple.ane.iokit-user-access</key>
	<true/>
	<key>com.apple.aned.private.allow</key>
	<true/>
	<key>com.apple.appleneuralengine.private.allow</key>
	<true/>
	<key>com.apple.assistant.dictation.prerecorded</key>
	<true/>
	<key>com.apple.avfoundation.allow-video-data-output-to-change-output-dimensions</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.estimatedProximityDetection</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.backboardd.virtualDisplay</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.camera.iokit-user-access</key>
	<true/>
	<key>com.apple.carousel.onWristMonitor.actions</key>
	<string>monitor</string>
	<key>com.apple.coreaudio.register-internal-aus</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.corespeech.corespeechd.activation.xpc</key>
	<true/>
	<key>com.apple.corespeech.xpc</key>
	<true/>
	<key>com.apple.corespeechd.activation</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.networking.multipath</key>
	<true/>
	<key>com.apple.developer.networking.route_nc_read</key>
	<true/>
	<key>com.apple.driver.AppleBasebandPCI.user-access</key>
	<true/>
	<key>com.apple.driver.AppleBasebandPCIControl.user-access</key>
	<true/>
	<key>com.apple.driver.AppleConvergedIPCICEBB.user-access</key>
	<true/>
	<key>com.apple.driver.AppleConvergedIPCICEBBControl.user-access</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.hid.system.user-access-fast-path</key>
	<true/>
	<key>com.apple.iaptransportd.clientport</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.mediaanalysisd.client</key>
	<true/>
	<key>com.apple.mediaremote.send-commands</key>
	<true/>
	<key>com.apple.mkb.usersession.info</key>
	<true/>
	<key>com.apple.multitasking.unlimitedassertions</key>
	<true/>
	<key>com.apple.networkd.set_source_application</key>
	<true/>
	<key>com.apple.networkd_privileged</key>
	<true/>
	<key>com.apple.private.CarPlayServices.app-history</key>
	<true/>
	<key>com.apple.private.DistributedEvaluation.RecordAccess-com.apple.fides.borealis</key>
	<true/>
	<key>com.apple.private.DistributedEvaluation.RecordAccess-com.apple.fides.phs</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.userManagedAssets</key>
	<true/>
	<key>com.apple.private.allow-explicit-graphics-priority</key>
	<true/>
	<key>com.apple.private.allow-external-storage</key>
	<true/>
	<key>com.apple.private.aop-audio.user-access</key>
	<true/>
	<key>com.apple.private.aop-envsense.user-access</key>
	<true/>
	<key>com.apple.private.aop-voicetrigger.user-access</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.VoiceTriggerAssets</string>
		<string>com.apple.MobileAsset.RaiseToSpeakAssets</string>
		<string>com.apple.MobileAsset.MXLongFormVideoAppsV2</string>
		<string>com.apple.MobileAsset.AirPlayMobileAssetsV2</string>
		<string>com.apple.MobileAsset.VoiceServicesVocalizerVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.CustomVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.GryphonVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.VoiceResources</string>
	</array>
	<key>com.apple.private.audio.hal.aop-audio.user-access</key>
	<true/>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.cecd.control</key>
	<true/>
	<key>com.apple.private.cecd.observer</key>
	<true/>
	<key>com.apple.private.coreaudio.rpbserver</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.corespeech.voicetrigger_service</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.healthkit.authorization_bypass</key>
	<true/>
	<key>com.apple.private.healthkit.medicaliddata</key>
	<true/>
	<key>com.apple.private.healthkit.source.default</key>
	<string>com.apple.private.health.localdevice</string>
	<key>com.apple.private.healthkit.zeppelin</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.ids.link-preferences</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.fignero</string>
		<string>com.apple.private.alloy.cmsession</string>
		<string>com.apple.private.alloy.bluetooth.audio</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.cmsession</string>
		<string>com.apple.private.alloy.bluetooth.audio</string>
	</array>
	<key>com.apple.private.ids.self-session</key>
	<array>
		<string>com.apple.private.alloy.fignero</string>
	</array>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.kernel.audio_latency</key>
	<true/>
	<key>com.apple.private.kernel.clpc-alt-control</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.kernel.system-override</key>
	<true/>
	<key>com.apple.private.kernel.work-interval</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/TrustedHostAttached</string>
	</array>
	<key>com.apple.private.necp.match</key>
	<true/>
	<key>com.apple.private.network.interface-control</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nlcd-control</key>
	<true/>
	<key>com.apple.private.ppm.client</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.security.storage.Photos</key>
	<true/>
	<key>com.apple.private.sensorkit.writer.allow</key>
	<array>
		<string>com.apple.private.audio</string>
		<string>com.apple.private.audio.watch</string>
	</array>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceCamera</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceMotion</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.coreaudio.adam.hae</string>
		<string>com.apple.coreaudio.adam.hae-watchos</string>
	</array>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.relatived.tempest</key>
	<true/>
	<key>com.apple.rootless.storage.facekit</key>
	<true/>
	<key>com.apple.runningboard.assertions.coremedia</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/Preferences/com.apple.voiceservices.plist</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Library/Preferences/com.apple.coreaudio.device.plist</string>
		<string>/private/var/tmp/AudioCapture/</string>
		<string>/private/var/tmp/vp/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>com_apple_driver_PPMUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.voiceservices.keepalive</string>
		<string>com.apple.voiceservices.tts</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.buzzd</string>
		<string>com.apple.iconservices</string>
		<string>com.apple.systemstatus.publisher</string>
		<string>com.apple.systemstatus.activityattribution</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.siri.activation</key>
	<true/>
	<key>com.apple.siri.external_request</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.thermalWarningSuppression</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptom_analytics.refresh</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.systemstatus.activityattribution</key>
	<true/>
	<key>com.apple.systemstatus.publisher.domains</key>
	<string>media</string>
	<key>com.apple.tailspin.dump-output</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
	</array>
	<key>com.apple.videotoolbox.hardwarevideodecoder</key>
	<true/>
	<key>com.apple.videotoolbox.leghorn</key>
	<true/>
	<key>com.apple.voiced.can-dump-audio</key>
	<true/>
	<key>com.apple.voiceservices.tts</key>
	<true/>
	<key>com.apple.voiceservices.tts.customvoice</key>
	<true/>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wifip2pd</key>
	<true/>
	<key>com.apple.wlan.authentication</key>
	<true/>
	<key>fairplay-client</key>
	<integer>883412483</integer>
	<key>get-task-allow</key>
	<false/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.airplay</string>
		<string>com.apple.apsd</string>
		<string>com.apple.cfnetwork</string>
		<string>com.apple.identities</string>
		<string>com.apple.airplay.pairing</string>
	</array>
	<key>lskdd-client</key>
	<string>898061433</string>
	<key>seatbelt-profiles</key>
	<array>
		<string>mediaserverd</string>
	</array>
	<key>secure-key-vault-client</key>
	<integer>1994590856</integer>
</dict>
</plist>
