<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.mediasetupd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.inactive.fullaccess</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.mediasetupd</string>
	<key>com.apple.assistant.multiuser.service</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.mediaservicesbroker.container</string>
		<string>com.apple.agora.public</string>
		<string>com.apple.agoraplayer.config</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.networking.multipath</key>
	<true/>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.itunesstored.lookup</key>
	<true/>
	<key>com.apple.keystore.absinthe</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.mediaservicesbroker.container</key>
		<string>com.apple.mediaservicesbroker.container</string>
	</dict>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homekit.multi-user.setup</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/ActivityURL</string>
		<string>NULL/DeviceName</string>
		<string>com.apple.mobile.user_preferences/UserSetLanguage</string>
		<string>com.apple.mobile.user_preferences/UserSetLocale</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-set</key>
	<array>
		<string>NULL/UniqueDeviceID</string>
		<string>NULL/DeviceName</string>
		<string>com.apple.mobile.user_preferences/UserSetLanguage</string>
		<string>com.apple.mobile.user_preferences/UserSetLocale</string>
	</array>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServiceWillow</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>Library/Caches/com.apple.HomeKit.configurations</string>
		<string>Library/Caches/com.apple.HomeKit/com.apple.mediasetupd/</string>
		<string>Library/Caches/com.apple.mediasetupd</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.itunescloud.music-subscription-status-service</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.cloudd</string>
		<string>com.apple.apsd</string>
		<string>com.apple.xpc.amsaccountsd</string>
		<string>com.apple.amsaccountsd.multiuser</string>
		<string>com.apple.itunescloudd.xpc</string>
	</array>
	<key>com.apple.security.exception.mach-register.global-name</key>
	<array>
		<string>com.apple.mediasetupd.server</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleJPEGDriverUserClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>IOSurfaceAcceleratorClient</string>
		<string>IOGPUDeviceUserClient</string>
		<string>AGXDeviceUserClient</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
</dict>
</plist>
