<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>584196299</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>identity</string>
	</array>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.keystore.absinthe</key>
	<true/>
	<key>com.apple.keystore.device.uuid</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>WifiAddress</string>
		<string>WifiAddressData</string>
		<string>BluetoothAddressData</string>
		<string>BluetoothAddress</string>
		<string>IntegratedCircuitCardIdentifier</string>
		<string>MobileEquipmentIdentifier</string>
		<string>InternationalMobileEquipmentIdentity</string>
		<string>UniqueChipID</string>
		<string>SerialNumber</string>
		<string>UniqueDeviceID</string>
		<string>UniqueDeviceIDData</string>
	</array>
	<key>com.apple.private.ProvInfoIOKitUserClient.access</key>
	<true/>
	<key>com.apple.private.PurpleReverseProxy.allowed</key>
	<true/>
	<key>com.apple.private.mobilestoredemo.helper</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.xpc.launchd.app-server</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/logs/mobileactivationd_restore/</string>
		<string>/private/preboot/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Logs/mobileactivationd/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.mobilestoredemod</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.system-group-containers</key>
	<array>
		<string>systemgroup.com.apple.mobileactivationd</string>
		<string>systemgroup.com.apple.pisco.suinfo</string>
		<string>systemgroup.com.apple.regulatory_images</string>
	</array>
	<key>fairplay-client</key>
	<integer>1209439590</integer>
	<key>keychain-access-groups</key>
	<array>
		<string>lockdown-identities</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>mobileactivationd</string>
	</array>
</dict>
</plist>
