<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.atvcached.client</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.bubblepop</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>Lookup</string>
		<string>InstallForLaunchServices</string>
		<string>UninstallForLaunchServices</string>
		<string>Browse</string>
		<string>CheckCapabilitiesMatch</string>
		<string>CopyDiskUsageForLaunchServices</string>
		<string>InstallLocalProvisioned</string>
	</array>
</dict>
</plist>
