<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.diskimages.attach</key>
	<true/>
	<key>com.apple.private.amfi.can-load-trust-cache</key>
	<true/>
	<key>com.apple.private.img4.nonce.cryptex</key>
	<true/>
	<key>com.apple.private.img4.nonce.pdi</key>
	<true/>
	<key>com.apple.private.security.AppleImage4.user-client</key>
	<true/>
	<key>com.apple.private.security.cryptex.install</key>
	<true/>
	<key>com.apple.private.security.disk-device-access</key>
	<true/>
	<key>com.apple.private.xpc.launchd.storage-mounter</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/tmp/com.apple.mobile_storage_mounter/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleImage4UserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.security.cryptexd</string>
		<string>com.apple.filesystems.localLiveFiles</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>mobile_storage_mounter</string>
	</array>
</dict>
</plist>
