<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>VPN-com.apple.neplugin.IKEv2.plist</string>
	</array>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.managedconfiguration.vpn-profile-access</key>
	<true/>
	<key>com.apple.networkextension.keychain</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.network</string>
		<string>com.apple.MobileAsset.network.networknomicon</string>
	</array>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.neagent-client</key>
	<true/>
	<key>com.apple.private.neconfiguration-write-access</key>
	<true/>
	<key>com.apple.private.necp.match</key>
	<true/>
	<key>com.apple.private.necp.policies</key>
	<true/>
	<key>com.apple.private.nehelper.privileged</key>
	<true/>
	<key>com.apple.private.networkextension.configuration</key>
	<true/>
	<key>com.apple.private.security.storage.triald</key>
	<true/>
	<key>com.apple.private.skywalk.register-kernel-pipe</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/Trial/NamespaceDescriptors/</string>
		<string>/private/var/mobile/Library/Trial/Treatments/381/</string>
		<string>/System/Library/Preferences/NetworkExtension/</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.identities</string>
		<string>com.apple.certificates</string>
		<string>com.apple.managed.vpn.shared</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>com.apple.nehelper</string>
	</array>
</dict>
</plist>
