<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.NPKCompanionAgent</string>
	<key>com.apple.NPKCompanionAgent.client</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.bulletinboard.dataprovider</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.developer.contactless-payment-pass-provisioning</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nanosystemsettings</key>
	<array>
		<string>accounts</string>
		<string>icloud</string>
	</array>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.passes.add-silently</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.payment.configuration</key>
	<true/>
	<key>com.apple.payment.payment-information-event-hosting</key>
	<true/>
	<key>com.apple.peerpayment.all-access</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>SerialNumber</string>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.hsa-authentication-processing</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.passbook.general</string>
		<string>com.apple.private.alloy.passbook.relevancy</string>
		<string>com.apple.private.alloy.passbook.maintenance</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.passbook.general</string>
		<string>com.apple.private.alloy.passbook.relevancy</string>
		<string>com.apple.private.alloy.passbook.maintenance</string>
	</array>
	<key>com.apple.private.keychain.sysbound</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.Bridge</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.usernotifications.usernotificationservice</string>
	</array>
	<key>com.apple.seserviced.kmlXpcService</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.PassbookUIService</string>
	</array>
</dict>
</plist>
