<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.managedconfiguration.passcodenagd</string>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.set</key>
	<array>
		<string>Passcode</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.usercompliance</key>
	<true/>
</dict>
</plist>
