<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.QuartzCore.get-client-port</key>
	<true/>
	<key>com.apple.backboardd.replayClone</key>
	<true/>
	<key>com.apple.backboardd.virtualDisplay</key>
	<true/>
	<key>com.apple.coreaudio.app-tap</key>
	<true/>
	<key>com.apple.coreaudio.private.SystemWideTap</key>
	<true/>
	<key>com.apple.coremedia.virtualdisplaysession</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.photos.bourgeoisie</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>PURGE_ENTITLEMENT</string>
		<string>CANCEL_PURGE_ENTITLEMENT</string>
		<string>PERIODIC_ENTITLEMENT</string>
		<string>PURGEABLE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.controlcenter.service.moduleidentifiers</key>
	<array>
		<string>com.apple.replaykit.controlcenter.screencapture</string>
	</array>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServiceScreenCapture</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.ReplayKitNotifications</string>
	</array>
	<key>com.apple.security.device.audio-input</key>
	<true/>
	<key>com.apple.security.device.camera</key>
	<true/>
	<key>com.apple.security.device.microphone</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.controlcenter.remoteservice</string>
		<string>com.apple.iconservices</string>
		<string>com.apple.rtcreportingd</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides.coordinator</key>
	<array>
		<string>UIStatusBarStyleOverrideScreenReplayRecording</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>replayd</string>
	</array>
</dict>
</plist>
