<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.icloud.searchpartyd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>data-allowed-write</string>
	</array>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.icloud.searchparty</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.icloud.fmfd.access</key>
	<true/>
	<key>com.apple.icloud.fsd.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.advertisementcache.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.advertisementcache.read</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.advertisementcache.write</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.scheduler.access</key>
	<true/>
	<key>com.apple.keystore.access-keychain-keys</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.locationd.Proximity.TagManagement</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.mobileactivationd.bridge</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>BuildVersion</string>
		<string>ProductType</string>
		<string>ProductVersion</string>
		<string>UniqueDeviceID</string>
		<string>UserAssignedDeviceName</string>
		<string>SerialNumber</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applecredentialmanager.allow</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.ckks</key>
	<true/>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.icloud.searchparty</key>
		<string>com.apple.icloud.searchparty</string>
	</dict>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.fmd</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.fmd</string>
	</array>
	<key>com.apple.private.ids.registration</key>
	<true/>
	<key>com.apple.private.ids.remotecredentials</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.storagekitd.info</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.findmy</string>
	</array>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/usr/libexec</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/db/systemgroup.com.apple.icloud.searchpartyd.sharedsettings/</string>
		<string>/private/var/mobile/Library/com.apple.icloud.searchpartyd/</string>
		<string>/private/var/tmp/com.apple.icloud.searchpartyd/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Caches/com.apple.AppleAccount/</string>
		<string>/Library/Caches/com.apple.icloud.searchpartyd/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleCredentialManagerUserClient</string>
		<string>AppleKeyStoreUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.CoreAuthentication.daemon</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.appconduitd.device-connection</string>
		<string>com.apple.apsd</string>
		<string>com.apple.cloudd</string>
		<string>com.apple.commcenter.xpc</string>
		<string>com.apple.contactsd</string>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.icloud.findmydeviced</string>
		<string>com.apple.icloud.fmfd</string>
		<string>com.apple.icloud.fsd</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.identityservicesd.idquery.embedded.auth</string>
		<string>com.apple.locationd.registration</string>
		<string>com.apple.locationd.synchronous</string>
		<string>com.apple.locationd</string>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.securityd.ckks</string>
		<string>com.apple.timed.xpc</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.AppSupport</string>
		<string>com.apple.conference</string>
		<string>com.apple.ids</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.icloud.searchpartyd</string>
		<string>systemgroup.com.apple.icloud.searchpartyd.sharedsettings</string>
	</array>
	<key>com.apple.security.exception.sysctl.read-only</key>
	<array>
		<string>kern.bootsessionuuid</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.icloud.searchpartyd.sharedsettings</string>
	</array>
	<key>com.apple.security.ts.application-group-support</key>
	<true/>
	<key>com.apple.security.ts.cloudkit-client</key>
	<true/>
	<key>com.apple.security.ts.identity-services-client</key>
	<true/>
	<key>com.apple.sharing.DurianTapPromptClient</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>searchpartyd</string>
	</array>
</dict>
</plist>
