<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.atvcached.client</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.bubblepop</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>InstallForLaunchServices</string>
		<string>InstallLocalProvisioned</string>
	</array>
	<key>com.apple.springboard.iconState.mutate</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>streaming_zip_conduit</string>
	</array>
</dict>
</plist>
