<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.subridged</string>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.nanoregistry.termsacknowledgementregistry</key>
	<true/>
	<key>com.apple.network.security.server</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.WatchSoftwareUpdateDocumentation</string>
	</array>
	<key>com.apple.private.assets.change-daemon-config</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.otaupdate</string>
		<string>com.apple.private.alloy.otaupdate.cloud</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.otaupdate</string>
		<string>com.apple.private.alloy.otaupdate.cloud</string>
	</array>
	<key>com.apple.private.sharing.unlock-manager</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/System/</string>
		<string>/System</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Library/SoftwareUpdate/</string>
		<string>/private/var/mobile/Library/Preferences/</string>
		<string>/private/var/tmp/</string>
		<string>/private/var/mobile/Library/Caches/</string>
		<string>/private/var/MobileSoftwareUpdate/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.cache_delete</string>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.springboard.services</string>
		<string>com.apple.FileCoordination</string>
		<string>com.apple.sharingd.nsxpc</string>
		<string>com.apple.SBUserNotification</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.local-name</key>
	<array>
		<string>com.apple.cache_delete</string>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.springboard.services</string>
		<string>com.apple.FileCoordination</string>
		<string>com.apple.sharingd.nsxpc</string>
		<string>com.apple.SBUserNotification</string>
	</array>
	<key>com.apple.security.exception.sysctl.read-only</key>
	<array>
		<string>kern.bootargs</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.ts.asset-access</key>
	<true/>
	<key>com.apple.security.ts.cloudkit-client</key>
	<true/>
	<key>com.apple.security.ts.identity-services-client</key>
	<true/>
	<key>com.apple.security.ts.identity-services-receive-file</key>
	<true/>
	<key>com.apple.security.ts.lockdown-client</key>
	<true/>
	<key>com.apple.security.ts.mobile-keybag-access</key>
	<true/>
	<key>com.apple.security.ts.nano-paired-storage.subpath.read-write</key>
	<array>
		<string>gizmo-is-installing</string>
	</array>
	<key>com.apple.security.ts.nano-preference.read-write</key>
	<array>
		<string>com.apple.Bridge</string>
	</array>
	<key>com.apple.security.ts.power-assertions</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.subridged</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>
