<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.symptomsd</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>carrier-space</string>
	</array>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.awdd.manager-access</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coretelephony.Identity.get</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.logout</key>
	<true/>
	<key>com.apple.networkd.advisory_socket</key>
	<true/>
	<key>com.apple.pf.allow</key>
	<true/>
	<key>com.apple.private.associated-domains</key>
	<true/>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.coreservices.canmapbundleidtouuid</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.autobugcapture</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.autobugcapture</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.autobugcapture</string>
	</array>
	<key>com.apple.private.logging.admin</key>
	<true/>
	<key>com.apple.private.network.interface-control</key>
	<true/>
	<key>com.apple.private.network.statistics</key>
	<true/>
	<key>com.apple.private.nlcd-control</key>
	<true/>
	<key>com.apple.private.security.storage.SymptomFramework</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceWillow</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.Preferences</string>
	</array>
	<key>com.apple.private.wifianalytics</key>
	<true/>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>RootDomainUserClient</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
		<string>systemgroup.com.apple.WiFiAssist</string>
	</array>
	<key>com.apple.symptom_analytics.configure</key>
	<true/>
	<key>com.apple.symptom_analytics.healthcheck</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptom_analytics.refresh</key>
	<true/>
	<key>com.apple.symptom_analytics.train</key>
	<true/>
	<key>com.apple.symptom_analytics.writer</key>
	<true/>
	<key>com.apple.symptom_diagnostics.private</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>wifianalyticsd</string>
	</array>
</dict>
</plist>
