<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.syncdefaultsd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.mobile.keybagd.UserManager.logout</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.sync</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.cloudkit.allowUnverifiedAccount</key>
	<true/>
	<key>com.apple.private.cloudkit.buddyAccess</key>
	<true/>
	<key>com.apple.private.cloudkit.customAccounts</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.KeyValueService.EndToEndEncrypted</key>
		<string>com.apple.KeyValueService.EndToEndEncrypted</string>
	</dict>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.security.storage-exempt.heritable</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.ubiquity-kvstore-manage</key>
	<true/>
	<key>com.apple.security.enterprise-volume-access</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.mobile.keybagd.UserManager.xpc</string>
	</array>
	<key>com.apple.usermanagerd.persona.background</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>appleaccount</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>syncdefaultsd</string>
	</array>
</dict>
</plist>
