<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.sysdiagnose</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.Carousel.statusOverlay</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.CoreTelephony.DataUsageInfo.allow</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.AutoWake.xml</string>
	</array>
	<key>com.apple.UIKit.status-bar-override-allow</key>
	<true/>
	<key>com.apple.asl.access_as_root</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.corecapture.manager-access</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.logd.admin</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.coreservices.cangetcurrentactivityinfo</key>
	<true/>
	<key>com.apple.private.debug_port</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.sysdiagnose</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.sysdiagnose</string>
	</array>
	<key>com.apple.private.ids.prefer-infrawifi</key>
	<array>
		<string>com.apple.private.alloy.sysdiagnose</string>
	</array>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.security.storage-exempt.heritable</key>
	<true/>
	<key>com.apple.private.sysdiagnose</key>
	<true/>
	<key>com.apple.private.sysdiagnose_helper</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
		<string>systemgroup.com.apple.sharedpclogging</string>
		<string>systemgroup.com.apple.mobile.installationhelperlogs</string>
		<string>systemgroup.com.apple.powerlog</string>
	</array>
	<key>com.apple.soundboard.sysdiagnose</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.system-task-ports</key>
	<true/>
	<key>com.apple.taptoradard.xpcclient</key>
	<true/>
	<key>com.apple.telephony.cupolicy-rw-access</key>
	<true/>
</dict>
</plist>
