<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.terminusd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.developer.networking.multipath_extended</key>
	<true/>
	<key>com.apple.networkd_privileged</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.ids.continuity</key>
	<true/>
	<key>com.apple.private.ids.localpairing-api</key>
	<true/>
	<key>com.apple.private.ids.registration</key>
	<true/>
	<key>com.apple.private.ids.registration-control</key>
	<true/>
	<key>com.apple.private.ids.self-session</key>
	<array>
		<string>com.apple.private.alloy.terminus</string>
	</array>
	<key>com.apple.private.ids.session</key>
	<array>
		<string>com.apple.private.alloy.terminus</string>
	</array>
	<key>com.apple.private.ids.session-private</key>
	<array>
		<string>com.apple.private.alloy.terminus</string>
	</array>
	<key>com.apple.private.necp.policies</key>
	<true/>
	<key>com.apple.private.nehelper.privileged</key>
	<true/>
	<key>com.apple.private.network.interface-control</key>
	<true/>
	<key>com.apple.private.network.restricted.port.nr_control</key>
	<true/>
	<key>com.apple.private.network.restricted.port.nr_proxy</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.skywalk.observe-all</key>
	<true/>
	<key>com.apple.private.skywalk.observe-stats</key>
	<true/>
	<key>com.apple.private.skywalk.register-flow-switch</key>
	<true/>
	<key>com.apple.private.skywalk.register-kernel-pipe</key>
	<true/>
	<key>com.apple.private.skywalk.register-net-if</key>
	<true/>
	<key>com.apple.private.skywalk.register-user-pipe</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/preferences/com.apple.networkextension.necp.plist</string>
		<string>/Library/Preferences/com.apple.networkextension.necp.plist</string>
		<string>/System/Library/PrivateFrameworks/IDS.framework/identityservicesd.app/identityservicesd</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.apsd</string>
	</array>
	<key>com.apple.security.exception.sysctl.read-write</key>
	<array>
		<string>net.link.generic.system.companion_sndbuf_limit</string>
		<string>net.necp.drop_dest_level</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.terminusd</string>
		<string>ichat</string>
		<string>apple</string>
		<string>lockdown-identities</string>
		<string>com.apple.apsd</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>terminusd</string>
	</array>
</dict>
</plist>
