<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.filesystems.userfsd</string>
	<key>com.apple.application-identifier</key>
	<string>com.apple.filesystems.userfsd</string>
	<key>com.apple.fileprovider.enumerate</key>
	<true/>
	<key>com.apple.private.LiveFS.connection</key>
	<true/>
	<key>com.apple.private.allow-external-storage</key>
	<true/>
	<key>com.apple.private.userfsd.UVFSService</key>
	<true/>
	<key>com.apple.private.xpc.launchd.storage-mounter</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.filesystems.localLiveFiles</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>userfsd</string>
	</array>
</dict>
</plist>
