<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.AutoWake-write-access</key>
	<true/>
	<key>com.apple.CommCenter.Messages-send</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.MobileAsset.EmbeddedSpeech</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.radios.plist</string>
	</array>
	<key>com.apple.assistant.client</key>
	<true/>
	<key>com.apple.assistant.dictation.prerecorded</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.bulletinboard.utilities</key>
	<true/>
	<key>com.apple.coreaudio.allow-amr-decode</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.imagent.av</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.EmbeddedSpeech</string>
	</array>
	<key>com.apple.private.assets.change-daemon-config</key>
	<true/>
	<key>com.apple.private.communicationsfilter</key>
	<true/>
	<key>com.apple.private.icfcallserver</key>
	<true/>
	<key>com.apple.private.imavcore.imavagent</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.necp.match</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.security.storage.Voicemail</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServicePhotos</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.siri.acousticsignature</key>
	<true/>
	<key>com.apple.siri.analyzer</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlinbackground</key>
	<true/>
	<key>com.apple.springboard.openurlswhenlocked</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
	</array>
	<key>com.apple.videoconference.allow-conferencing</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
</dict>
</plist>
