<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>watchlistd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.ap.adservicesd.statusconditionclient.allow_write</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-screen-saver</key>
	<true/>
	<key>com.apple.appletv.pbs.bulletin-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.user-presentation-service-access</key>
	<true/>
	<key>com.apple.appstored.install-system-apps</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.bulletinboard.dataprovider</key>
	<true/>
	<key>com.apple.chronoservices</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.set</key>
	<array>
		<string>ClientRestrictions</string>
		<string>UserSettings</string>
	</array>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.launchservices.suppresscustomschemeprompt</key>
	<string>*</string>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>InstallForLaunchServices</string>
		<string>UninstallForLaunchServices</string>
	</array>
	<key>com.apple.private.subscriptionservice.all-sources.read-only</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.tv</string>
		<string>com.apple.TVWatchList</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/tmp/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Caches/</string>
		<string>/Library/com.apple.WatchListKit/</string>
		<string>/Library/Logs/PersistentConnection/com.apple.watchlistd-watchlistd-APSClient.log</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.appstored.xpc.request</string>
		<string>com.apple.lsd.installation</string>
		<string>com.apple.lsd.modifydb</string>
		<string>com.apple.lsd.xpc</string>
		<string>com.apple.managedconfiguration.profiled</string>
		<string>com.apple.VideoSubscriberAccount.videosubscriptionsd</string>
		<string>com.apple.locationd.synchronous</string>
		<string>com.apple.awdd</string>
		<string>com.apple.nanoprefsync</string>
		<string>com.apple.assertiond.applicationstateconnection</string>
		<string>com.apple.PineBoardServices</string>
		<string>com.apple.springboard.services</string>
		<string>com.apple.installcoordinationd</string>
		<string>com.apple.spotlight.IndexAgent</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.chronoservices</string>
		<string>com.apple.FileCoordination</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.purplebuddy</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.AppleMediaServices</string>
		<string>com.apple.AppleMediaServices.notbackedup</string>
		<string>com.apple.tv</string>
		<string>com.apple.watchlistd</string>
		<string>com.apple.TVWatchList</string>
		<string>com.apple.WatchListKit</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.configurationprofiles</string>
	</array>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.watchlist.private</key>
	<true/>
	<key>fairplay-client</key>
	<string>681381042</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>watchlistd</string>
	</array>
</dict>
</plist>
