<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.wifid</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>data-allowed-write</string>
		<string>identity</string>
		<string>spi</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.MobileInternetSharing.allow</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.wifi.plist</string>
		<string>com.apple.wifi-networks.plist</string>
		<string>com.apple.wifi-private-mac-networks.plist</string>
		<string>preferences.plist</string>
	</array>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.certui.greentea</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.spectator</key>
	<true/>
	<key>com.apple.lsapplicationproxy.deviceidentifierforvendor</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.nano.nanoregistry.pairunpairobliterate</key>
	<true/>
	<key>com.apple.networkd_privileged</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.WiFi</string>
	</array>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.wifi.networksync</string>
	</array>
	<key>com.apple.private.iokit.powersource-control</key>
	<true/>
	<key>com.apple.private.network-performance-tester</key>
	<true/>
	<key>com.apple.private.ppm.client</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.ubiquity-kvstore-access</key>
	<array>
		<string>com.apple.wifid</string>
		<string>com.apple.wifi.syncable-networks</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.wifid.usernotification</string>
	</array>
	<key>com.apple.private.wifianalytics</key>
	<true/>
	<key>com.apple.private.wifianalytics.11axperfstudy</key>
	<true/>
	<key>com.apple.private.wifianalytics.fw-trap</key>
	<true/>
	<key>com.apple.purplebuddy.budd.access</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.CompanionLink</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.system-group-containers</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.Services</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptom_analytics.refresh</key>
	<true/>
	<key>com.apple.symptom_analytics.sweep</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-call-capabilities</string>
		<string>access-call-providers</string>
		<string>access-calls</string>
		<string>modify-calls</string>
	</array>
	<key>com.apple.wifi.hostapd</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wifi.manager-reset-settings</key>
	<true/>
	<key>com.apple.wifivelocity</key>
	<true/>
	<key>com.apple.wlan.authentication</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.identities</string>
		<string>com.apple.certificates</string>
		<string>wifianalyticsd</string>
		<string>com.apple.coreservices.appleidauthentication</string>
		<string>com.apple.coreservices.appleidauthentication.keychainaccessgroup</string>
		<string>com.apple.sharing.appleidauthentication</string>
	</array>
	<key>keychain-cloud-circle</key>
	<true/>
</dict>
</plist>
